<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2813311780-1f7obmelr95afthnjpeeeer5lbehcrna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2813311780-1f7obmelr95afthnjpeeeer5lbehcrna</string>
	<key>API_KEY</key>
	<string>AIzaSyALOp5fLD9hOxiI3TzzhSH0IZg0L76Y9zA</string>
	<key>GCM_SENDER_ID</key>
	<string>2813311780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.botbabes.botsNBids</string>
	<key>PROJECT_ID</key>
	<string>bots-and-bids</string>
	<key>STORAGE_BUCKET</key>
	<string>bots-and-bids.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2813311780:ios:85d074577dbf57ffb091b1</string>
</dict>
</plist>